*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    background: url("./7693f8d14576ea3e5593b85a331adbab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 30px;
}


    input, button {
      padding: 8px;
      margin-top: 10px;
    }

    h1{
        font-size: 22px;
        text-decoration: underline;
        margin-bottom: 25px;
    }

    p{
        font-size: 20px;
        color: rgb(55, 43, 226);
        font-weight: bold;
    }

main{
    border-radius: 20px;
    background-color: white;
    margin: 10px auto;
    margin-top: 19vh;
    padding: 20px 30px;
    height: 60vh;
    width:900px
}





